<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Img Date</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=_turnstileCb" defer></script>
</head>

<body>
    <h1>Img Date</h1>
    <a href="https://github.com/your-repo" target="_blank" class="github-corner">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub Logo" class="github-logo">
    </a>
    <form id="uploadForm" enctype="multipart/form-data">
        <label for="fileInput">Select Images</label>
        <input id="fileInput" type="file" name="files[]" multiple accept="image/*" required>
        <label><input type="checkbox" name="fix_orientation" value="true" checked> Fix Orientation</label>

        <div class="date-options-container">
            <label><input type="checkbox" name="date_images" value="true" checked> Date Images</label>
            <button type="button" id="dateOptionsBtn" class="options-btn">⚙️</button>
        </div>

        <div id="dateOptionsBox" class="options-box" style="display: none;">
            <h3>Date Format Options</h3>
            <label><input type="radio" name="dateFormat" value="mm_dd_yy" checked> MM DD 'YY</label>
            <label><input type="radio" name="dateFormat" value="yy_mm_dd"> 'YY MM DD</label>
            <label><input type="radio" name="dateFormat" value="universal"> Universal</label>
        </div>

        <label><input type="checkbox" name="crop_images" value="true" id="cropImages"> Crop Images</label>
        <label id="drawContoursLabel"><input type="checkbox" name="draw_contours" value="true" id="drawContours"> Draw Contours</label>

        <label for="filePrefix">File Name Prefix (optional)</label>
        <input type="text" id="filePrefix" name="file_prefix">

        <div class="cf-turnstile" data-sitekey="YOUR_SITE_KEY"></div>

        <button type="submit" id="processButton" class="green-btn">Upload and Process</button>
        <button type="button" id="downloadButton" class="green-btn" style="display: none;">Download Images</button>


        <div id="progressContainer" style="display:none;">
            <div id="progressBar">
                <div id="progressBarFill"></div>
            </div>
            <p id="progressText"></p>
        </div>

        <button type="button" id="startOver" style="display: none;">Start Over</button>
    </form>

    <script src="../static/js/script.js"></script>

    <script>
        function _turnstileCb() {
          turnstile.render('.cf-turnstile', {
            sitekey: '0x4AAAAAAAk0dmheOZ2KY_fB',
            theme: 'light',  // Optional: 'light' or 'dark'
          });
        }
      </script>
</body>

</html>