<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Img Date</title>
    <link rel="icon" href="../static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
</head>

<body>
    <h1>Img Date</h1>
    <a href="https://github.com/bobbleheadhobo" target="_blank" class="github-corner">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub Logo" class="github-logo">
    </a>
    <form id="uploadForm" enctype="multipart/form-data">
        <label for="fileInput">Select Images</label>
        <input id="fileInput" type="file" name="files[]" multiple accept="image/*" required>
        <label><input type="checkbox" name="fix_orientation" value="true" title="Automatically detects and corrects the orientation of photos using facial recognition." checked> Fix Orientation</label>

        <div class="date-options-container">
            <label><input type="checkbox" name="date_images" value="true" checked title="Extract and sets dates from scanned photos."> Date Images</label>
            <button type="button" id="dateOptionsBtn" class="options-btn">⚙️</button>
        </div>

        <div id="dateOptionsBox" class="options-box" style="display: none;">
            <h3>Date Format Options</h3>
        <div class="date-notice-container">
            <p class="date-notice">Date must be in bottom right corner for landscape photos</p>
            <p class="date-notice">Date must be in bottom left corner for portrait photos</p>
        </div>
            <label><input type="radio" name="date_format" value="mm_dd_yy" checked> MM DD 'YY</label>
            <label><input type="radio" name="date_format" value="yy_mm_dd"> 'YY MM DD</label>
            <label><input type="radio" name="date_format" value="universal"> Universal</label>
        </div>

        <label><input type="checkbox" name="crop_images" value="true" id="cropImages" title="Crops images out of scans"> Crop Images</label>
        <label id="drawContoursLabel"><input type="checkbox" name="draw_contours" value="true" id="drawContours" title="Shows which images were cropped from scans"> Draw Contours</label>

        <label><input type="checkbox" name="sort_images" value="true" title="Sorts processed images into folders by year and month."> Sort images by date</label>

        <label for="filePrefix">File Name Prefix (optional)</label>
        <input type="text" id="filePrefix" name="file_prefix">

        <div class="cf-turnstile" data-sitekey="0x4AAAAAAAk0dmheOZ2KY_fB"></div>

        <button type="submit" id="processButton" class="green-btn">Upload and Process</button>
        <button type="button" id="downloadButton" class="green-btn" style="display: none;">Download Images</button>


        <div id="progressContainer" style="display:none;">
            <div id="progressBar">
                <div id="progressBarFill"></div>
            </div>
            <p id="progressText"></p>
        </div>

        <button type="button" id="startOver" style="display: none;">Start Over</button>
    </form>

    <script src="../static/js/script.js"></script>
</body>

<div id="usagePopup1" class="popup">
    <div class="popup-content">
        <h2>Welcome to Img Date!</h2>
        <p>Img Date helps you process scanned or digital film images efficiently. Let’s start with cropping your images:</p>
        <ul>
            <li>Select "Crop Images" if you are uploading scans containing multiple images.</li>
            <li>It is recommended to enable "Draw Contours" to see if any images were missed in the cropping process</li>
        </ul>
        <p>Example scan shown below</p>
        <div class="scan-images">
            <img src="{{ url_for('static', filename='images/scan.jpg') }}" alt="scan example" title="Scan example">
        </div> 
        <button id="nextButton" class="popup-btn">Next</button>
    </div>
</div>

<div id="usagePopup2" class="popup" style="display: none;">
    <div class="popup-content">
        <h2>Dating Your Images</h2>
        <p>If your images have date stamps, Img Date can set the file’s date to match the date on the image:</p>
        <ul>
            <li>Select "Date Images" to automatically read the date stamps on your images.</li>
            <li>Ensure the date stamp is in the correct position for accurate detection: bottom right for landscape photos and bottom left for portrait photos. Please look at the example below.</li>
        </ul>
        <div class="date-images">
            <img src="{{ url_for('static', filename='images/digitized_film_date_10-08-2003_04.jpg') }}" alt="Landscape Date Location" title="Landscape image date position">
            <img src="{{ url_for('static', filename='images/digitized_film_date_10-08-2003_03.jpg') }}" alt="Portrait Date Location" title="Portrait image date position">
        </div>  
        <p><strong>Please verify the dates after processing, as errors may occur.</strong></p>
        <p>Now you're ready to get started!</p>
        <button id="okButton" class="popup-btn">OK</button>
        <button id="dontShowAgainButton" class="popup-btn" style="display: none;">Don't Show Again</button>
    </div>
</div>




</html>